body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    background-image: url(/Images/chaogardenbuster-elanoir.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1em 1em;
}
h1{
    font-family: 'Rubik Bubbles', serif;
    font-size:800%;
    color: white;
    text-align: center;
    text-shadow: .1em .01em .01em #66cc00;
    -webkit-text-stroke:1px #000000;
}
img{
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    width: 200px; 
    margin:1em 1em;
    padding: 1px;
}
img:hover{
    content: url(/Images/CGL.png);
}
a{
    font-family: 'Rubik Bubbles', serif;
    color: white;
    text-align: center;
    text-decoration: none !important;
    background-color: #66cc00;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.356);

}
a:hover{
    color: white;
    background-color: #3498db;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.589);
}
#postBtn{
    font-family: 'Rubik Bubbles', serif;
    color: white;
    text-align: center;
    background-color: #66cc00;
    border-radius: 10%;
    padding: .5em .5em;
}
#postbBtn:hover{
    color: white;
    background-color: #3498db;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.589);
}
select{
    margin-right: auto;
    margin-left: auto;
}
fieldset{

}
legend{
    font-family: 'Rubik Bubbles', serif;
    font-size: 50px !important;
    color: white;
    -webkit-text-stroke:1px #000000;
}
.userList{
    text-align: center;
    margin-top: 5em;
}