.gradient-custom-2 {
    background: linear-gradient(to right, #3498db, #ffffff);
}  
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .btn-custom-blue {
        background-color: #3498db;
        border-color: #3498db; 
        color: #ffffff;
    }
    h4.custom-text-color {
        font-family: 'Rubik Bubbles', serif;
        font-size: 500%;
        color: white;
        text-align: center;
        text-shadow: .1em .01em .01em #000000;
        -webkit-text-stroke: 1px #000000;    }
h4 mt-1 mb-5 pb-1{
    font-family: 'Rubik Bubbles', serif;
}
#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#form{
    box-shadow: .1em 1em 1em .2em #000000; 
}
