.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to left, #3498db, #ffffff);
    opacity: 80%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    /* background-image: url(/Images/chaogardenbuster-elanoir.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    margin: 0;
    padding: 0;

}

h1 {
    font-family: 'Rubik Bubbles', serif;
    font-size: 500%;
    color: white;
    text-shadow: .1em .01em .01em #000000;
    -webkit-text-stroke: 1px #000000;
    margin-right: 6%;
}

#logoGo {
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    width: 12em;
    margin: 0;
    padding: 0;
}

#logoGo:hover {
    opacity: 100%;
    transform-style: preserve-3d;
    content: url(/Images/CGL.png);
}

a {
    font-family: 'Rubik Bubbles', serif;
    color: white;
    text-align: center;
    text-decoration: none !important;
    background-color: #66cc00;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.356);

}

a:hover {
    color: white;
    background-color: #3498db;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.589);
}

#postBtn {
    font-family: 'Rubik Bubbles', serif;
    color: white;
    text-align: center;
    background-color: #66cc00;
    border-radius: 10%;
    padding: .5em .5em;
}

#postbBtn:hover {
    color: white;
    background-color: #3498db;
    border-radius: 10%;
    padding: .5em .5em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.589);
}

/* 
select {
    margin-right: auto;
    margin-left: auto;
} */
/* fieldset{

} */
legend {
    font-family: 'Rubik Bubbles', serif;
    font-size: 40px !important;
    color: white;
    -webkit-text-stroke: 1px #000000;
    text-shadow: .1em .01em .01em #000000;

}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px !important;
    color: white;
    /* -webkit-text-stroke: 1px #000000; */
    text-shadow: .1em .01em .01em #000000;
}

input{
    color: #3498db;
    padding: .1em .1em;
    box-shadow: .2em .3em .6em .1em rgba(0, 0, 0, 0.589);
}
input:hover{
    box-shadow: .2em .3em .6em .2em rgba(0, 0, 0, 0.589);
}
#userList {
    justify-content: center;
    align-items: center;
    background-size: contain;
    color: #3498db;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5em;
}
#userListBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#myVideo {
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#result{
    display: block;
    text-align: center;
    background-size: contain;
}

#messageTemplate{
    display: block;
    text-align: center;
    background-size: contain;
    margin-top: 5em;
}
#message{
 color: #000000;
}
